*.pbxuser
*.perspectivev3
*.mode1v3
*.xcworkspace
*.xcuserdatad
*.xcworkspacedata
*.xcuserstate
*.xcsettings
*.xcbkptlist
*.xcscheme
*.pbxsymbols
*.pbxbtree
*.pbxstrings
*.pbxindex
*.build
build/*
*.xcodeproj/xcuserdata/*
*.dSYM
*.app
